<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Soil Fer' - Services</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    <!-- fevicon -->
    <link rel="icon" href="{{url_for('static', filename='images/fevicon.png')}}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}} ">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout products_page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{{ url_for('static', filename='images/loading.gif') }}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->

    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-9 ">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="{{ url_for('home')}}"><img class="logo-img" src="{{ url_for('static', filename='images/logo.png') }}" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-3">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                         </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('home')}}"> Home  </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('home')}}#about">About</a>
                                    </li>
                                    <li class="nav-item active ">
                                        <a class="nav-link " href="{{ url_for('home')}}#product">Services </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="{{ url_for('home')}}#contact ">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- end header inner -->
    <!-- end header -->
    <!-- product  section -->
    <div class="product ">
        <div class="container">
            <div class="row justify-content-center mt-3">
                <h3>Our Services - Crop Recommendation</h3>
            </div>
            <hr/>
            <div class="row justify-content-center ">
                <p class="alert alert-warning " role="alert ">
                    NB: Please fill in all the fields below to proceed with the use of our service
                </p>
            </div>
            <div class="card text-center mb-4 ">
                <div class="card-body ">
                    {% if data %}
                    <div class="row justify-content-center ">
                        {% if data.response %}
                        <div class="alert alert-success" role="alert ">
                            Our Machine Learning-based prediction model suggests that the accurate crop for your soil is
                            <h3>{{data.response}}</h3>.
                        </div>

                        {% endif %}
                    </div>
                    {% endif %}
                    <form method="post" action="{{ url_for( 'crop')}}" class="needs-validation mb-4 ">
                        <div class="row ">
                            <div class="col-xl-6 col-md-6 ">
                                <div class="row ">
                                    <label class="col-md-6" for="temperature">Temperature (°C)</label>
                                    <input type="number" step="0.001" name="temperature" {% if data %} value={{data.form.temperature}} {% endif %} class="form-control col-md-6 mb-4 " id="temperature" required>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6 mb-2 ">
                                <div class="row ">
                                    <label class="col-md-6" for="humidity">Humidity (%)</label>
                                    <input type="number" step="0.001" name="humidity" {% if data %} value={{data.form.humidity}} {% endif %} class="form-control col-md-6 mb-4 " id="humidity" required>
                                </div>
                            </div>
                        </div>
                        <div class="row ">

                            <div class="col-xl-6 col-md-6 mb-2 ">
                                <div class="row ">
                                    <label class="col-md-6 " for="rainfall">Rainfall (mm)</label>
                                    <input type="number" step="0.001" name="rainfall" {% if data %} value={{data.form.rainfall}} {% endif %} class="form-control mb-4 col-md-6" id="rainfall" required>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6 mb-2">
                                <div class="row ">
                                    <label class="col-md-6 " for="phosphorous">Ratio of phosphorous content in soil (P)</label>
                                    <input type="number " step="0.001 " name="phosphorous" {% if data%} value={{data.form.phosphorous}} {% endif %} class=" form-control mb-4 col-md-6 " id="phosphorous" required>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-6 col-md-6 mb-2 ">
                                <div class="row ">
                                    <label class="col-md-6 " for="potassium">Ratio of potassium content in soil (K)</label>
                                    <input type="number " step="0.001 " name="potassium" {% if data %} value={{data.form.potassium}} {% endif %} class="form-control col-md-6 mb-4 " id="potassium" required>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center ">
                            <button class="btn btn-success col-xl-6 col-md-6" type="submit">
                                Crop Prediction
                            </button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="text-center mb-4 ">
                <div class="row d-flex justify-content-center ">
                    <h3>Discover our other services</h3>
                </div>
                <div class="row d-flex justify-content-center ">
                    <div class="form-check ">
                        <a href="{{ url_for( 'fertility')}}">
                            <button type="button" class="btn btn-info btn-sm ">
                                Soil Fertility Prediction
                            </button>
                        </a>
                    </div>
                    <div class="form-check ">
                        <a href="{{ url_for( 'fertilizer')}}">
                            <button type="button" class="btn btn-info btn-sm ">
                                Fertilizer Recommendation
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end product  section -->

    <!-- Javascript files-->
    <script src="{{ url_for( 'static', filename='js/jquery.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/popper.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/bootstrap.bundle.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/jquery-3.0.0.min.js' ) }} "></script>
    <!-- sidebar -->
    <script src="{{ url_for( 'static', filename='js/jquery.mCustomScrollbar.concat.min.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/custom.js' ) }} "></script>

</body>

</html>

</html>